body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 350px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

h1 {
  margin: 0;
  font-size: 25px;
  color: red;
}

h2 {
  margin: 0;
  font-size: 18px;
  color: blue;
}

.descripcion {
  font-size: 14px;
  color: rgb(32, 32, 32);
  margin-bottom: 15px;
}

ul {
  text-align: left;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 5px;
}

.botones {
  display: flex;
  gap: 10px;
}

.botones button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botones button:hover {
  background-color: #1e40af;
}

.boton-rojo {
  background-color: red;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.boton-rojo:hover {
  background-color: darkred;
}
